<section class="advantages">
  <div class="flex-wrapper">
    <div class="item">
      <img src="../../../assets/footer-icons/trophy_1.svg" alt="icon" />
      <div>
        <h2 class="title">High Quality</h2>
        <h3 class="title_descr">crafted from top materials</h3>
      </div>
    </div>
    <div class="item">
      <img src="../../../assets/footer-icons/guarantee.svg" alt="icon" />
      <div>
        <h2 class="title">Warranty Protection</h2>
        <h3 class="title_descr">Over 2 years</h3>
      </div>
    </div>
    <div class="item">
      <img src="../../../assets/footer-icons/shipping.svg" alt="icon" />
      <div>
        <h2 class="title">Free Shipping</h2>
        <h3 class="title_descr">Order over 150 $</h3>
      </div>
    </div>
    <div class="item">
      <img src="../../../assets/footer-icons/customer-support.svg" alt="icon" />
      <div>
        <h2 class="title">24 / 7 Support</h2>
        <h3 class="title_descr">Dedicated support</h3>
      </div>
    </div>
  </div>
</section>
