<section class="discover">
  <div class="post">
    <h1 class="title">New Arrival</h1>
    <h2 class="subtitle">
      Discover Our
      <br />
      New Collection
    </h2>
    <div class="title_descr">
      Welcome to our latest arrivals! Discover a curated selection of exquisite
      furniture pieces designed to elevate your space.
    </div>
    <button [routerLink]="['/furniture']">buy now</button>
  </div>
</section>
<section class="share">
  <h2>Share your setup with</h2>
  <h1>#FurniroFurniture</h1>
  <img
    src="../../../assets/share/Rectangle_36.jpg"
    alt="setup"
    style="left: -195px; top: 126px"
  />
  <img
    src="../../../assets/share/Rectangle_37.jpg"
    alt="setup"
    style="left: -199px; top: 524px"
  />
  <img
    src="../../../assets/share/Rectangle_38.jpg"
    alt="setup"
    style="left: 94px; top: 196px"
  />
  <img
    src="../../../assets/share/Rectangle_39.jpg"
    alt="setup"
    style="left: 201px; top: 524px"
  />
  <img
    src="../../../assets/share/Rectangle_40.jpg"
    alt="setup"
    style="left: 561px; top: 282px"
  />
  <img
    src="../../../assets/share/Rectangle_41.jpg"
    alt="setup"
    style="right: 390px; top: 589px"
  />
  <img
    src="../../../assets/share/Rectangle_45.jpg"
    alt="setup"
    style="right: -125px; top: 140px"
  />
  <img
    src="../../../assets/share/Rectangle_43.jpg"
    alt="setup"
    style="left: 872px; top: 225px"
  />
  <img
    src="../../../assets/share/Rectangle_44.jpg"
    alt="setup"
    style="right: 116px; top: 589px"
  />
</section>
